//= require_directory ./stylesheets/vendor
//= require stylesheets/layout
//= require stylesheets/navigation
//= require stylesheets/home
//= require stylesheets/products
//= require stylesheets/product
//= require stylesheets/contact
//= require stylesheets/cart

html {
    background: #fffdee url('{{ 'bg.jpg' | theme_image_url }}') no-repeat center center fixed;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
     -webkit-transition: background 200ms ease-in-out 300ms;
    -moz-transition: background 200ms ease-in-out 300ms;
     -o-transition: background 200ms ease-in-out 300ms;
     transition: background 200ms ease-in-out 300ms;
   }

.centered {
    margin: auto;
    width: 400px;
    padding: 10px;
}
.logo img { width: 100%}

.homemenu {
    font-family: 'Domine', serif;
    margin-left: 250px;
    font-size: 18px;
    color:#000;
    line-height: 140%;
    font-weight: 700;
    letter-spacing: 1px;
}
.homemenu a { color:#000;}

.homemenu a:hover { color  : #9f7d23;}
.homemenu li.opened { font-size: 48px ;font-weight: 700;margin-bottom: 10px;}
.submenu  {padding-left: 0;font-weight: 400;font-size: 28px;margin-bottom: 5px}
.homemenu ul , .homemenu li { list-style: none; margin-left: 0}
.homemenu .smaller {line-height: 80%;}
.homemenu .small {line-height: 100%;}

.transition-fade {
    transition: 0.4s;
    opacity: 1;
}

#logoimg {transition: margin 700ms;}
html.is-animating .transition-fade {
    opacity: 0;
}

.productdiv {

    width: 400px;
    padding:10px;
    margin: -150px -0 0 -120px;
    display: none;
}
.prod_individual img {width: 100%}
.invert_effect {
    filter: invert(100%);
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}